<div class="jumbotron center" >
<center>
	<h1>Find your bike size.</h1>
		<p><%= link_to "Get bike fit" , "/nice_bikes",class: "btn btn-primary btn-lg" %>
		<%= link_to "Log in" , "/nice_bikes",class: "btn btn-default btn-lg" %> </p>

</center>
</div>
Young Jeeezy. 